@page
@model AboutModel
@{
    ViewData["Title"] = "Movies";
}


    <div class="col-md-9">
        <h1>The Conjuring</h1>
        <img src="~/images/TheConjuring.jpg" />
    <ul>
        <li>Paranormal investigators Ed and Lorraine Warren work to help a family terrorized by a dark presence in their farmhouse.</li>
        <li>Director: James Wan</li>
        <li>Writers: Chad Hayes, Carey W. Hayes</li>
        <li>Stars: Patrick Wilson, Vera Farmiga, Ron Livingston</li>
    </ul>
    </div>

    <div class="col-md-9">
        <h1>American Sniper</h1>
        <img src="~/images/AmericanSniper (2).jpg" />
    <ul>
        <li>Navy S.E.A.L. sniper Chris Kyle's pinpoint accuracy saves countless lives on the battlefield and turns him into a legend. Back home with his family after four tours of duty, however, Chris finds that it is the war he can't leave behind.</li>
        <li> Director: Clint Eastwood</li>
        <li> Writers: Jason Hall, Chris Kyle (book)</li>
        <li>Stars: Bradley Cooper, Sienna Miller, Kyle Gallner</li>
    </ul>
    </div>

    <div class="col-md-9">
        <h1>Fury</h1>
        <img src="~/images/Fury.jpg" />
        <ul>
            <li>A grizzled tank commander makes tough decisions as he and his crew fight their way across Germany in April, 1945.</li>
            <li>Director: David Ayer</li>
            <li>Writer: David Ayer</li>
            <li>Stars: Brad Pitt, Shia LaBeouf, Logan Lerman </li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>Toy store 4</h1>
        <img src="~/images/ToyStore4.jpg" />
        <ul>
            <li>When a new toy called "Forky" joins Woody and the gang, a road trip alongside old and new friends reveals how big the world can be for a toy.</li>
            <li>Director: Josh Cooley</li>
            <li>Writers: John Lasseter (original story by), Andrew Stanton (original story by)</li>
            <li>Stars: Tom Hanks, Tim Allen, Annie Potts</li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>Knives Out</h1>
        <img src="~/images/KnivesOut.jpg" />
        <ul>
            <li>A detective investigates the death of a patriarch of an eccentric, combative family.</li>
            <li>Director: Rian Johnson</li>
            <li>Writer: Rian Johnson</li>
            <li>Stars: Daniel Craig, Chris Evans, Ana de Armas </li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>Mission Imposible 6</h1>
        <img src="~/images/MissionImpossible.jpg" />
        <ul>
            <li>Ethan Hunt and his IMF team, along with some familiar allies, race against time after a mission gone wrong.</li>
            <li>Director: Christopher McQuarrie</li>
            <li>Writers: Bruce Geller (based on the television series created by), Christopher McQuarrie</li>
            <li>Stars: Tom Cruise, Henry Cavill, Ving Rhames</li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>Casablanca</h1>
        <img src="~/images/casablanca.jpg" />
        <ul>
            <li>A cynical expatriate American cafe owner struggles to decide whether or not to help his former lover and her fugitive husband escape the Nazis in French Morocco.</li>
            <li>Director: Michael Curtiz</li>
            <li>Writers: Julius J. Epstein (screenplay), Philip G. Epstein (screenplay)</li>
            <li>Stars: Humphrey Bogart, Ingrid Bergman, Paul Henreid</li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>Lady Bird</h1>
        <img src="~/images/LadyBird.jpg" />
        <ul>
            <li>In 2002, an artistically inclined seventeen-year-old girl comes of age in Sacramento, California.</li>
            <li>Director: Greta Gerwig</li>
            <li>Writer: Greta Gerwig</li>
            <li>Stars: Saoirse Ronan, Laurie Metcalf, Tracy Letts </li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>Avengers Endgame</h1>
        <img src="~/images/AverngersEndgame.jpg" />
        <ul>
            <li>After the devastating events of Osvetnici: Rat beskonačnosti (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.</li>
            <li>Directors: Anthony Russo, Joe Russo</li>
            <li>Writers: Christopher Markus (screenplay by), Stephen McFeely (screenplay by)</li>
            <li>Stars: Robert Downey Jr., Chris Evans, Mark Ruffalo</li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>50 Shades of Grey</h1>
        <img src="~/images/50shadesofgrey.jpg" />
        <ul>
            <li>Literature student Anastasia Steele's life changes forever when she meets handsome, yet tormented, billionaire Christian Grey.</li>
            <li>Director: Sam Taylor-Johnson</li>
            <li>Writers: Kelly Marcel (screenplay by), E.L. James</li>
            <li>Stars: Dakota Johnson, Jamie Dornan, Jennifer Ehle</li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>One night in Miami</h1>
        <img src="~/images/OneNightinMiami.jpg" />
        <ul>
            <li>A fictional account of one incredible night where icons Muhammad Ali, Malcolm X, Sam Cooke, and Jim Brown gathered discussing their roles in the Civil Rights Movement and cultural upheaval of the 60s.</li>
            <li>Director: Regina King</li>
            <li>Writers: Kemp Powers (screenplay by), Kemp Powers (based on the stage play "One Night In Miami..." by)</li>
            <li>Stars: Kingsley Ben-Adir, Eli Goree, Aldis Hodge</li>
        </ul>
    </div>
