@page   
@model ContactModel
@{
    ViewData["Title"] = "TV Shows";
}
<div class="s" style="background-color:; ">

    <div class="col-md-9">
        <h1>Zero Chill</h1>
        <img src="~/images/ZeroChill.jpg" />
        <div class="" ;>
            <ul>
                <li>Talented teen figure skater Kayla is forced to leave everything behind when her family follows her twin brother, Mac, to a prestigious hockey academy.</li>
                <li>Creators: Kirstie Falkous, John Regier</li>
                <li>Stars: Grace Beedie, Dakota Taylor, Jeremias Amoore</li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <h1>The Sinner</h1>
        <img src="~/images/TheSinner.jpg" />
        <ul>
            <li>Anthology series that examines how and why ordinary people commit brutal crimes.</li>
            <li>Creator: Derek Simonds</li>
            <li>Stars: Bill Pullman, Dohn Norwood, Adam LeFevre</li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>The Order</h1>
        <img src="~/images/TheOrder.jpg" />
        <ul>
            <li>Out to avenge his mother's death, a college student pledges to a secret order and lands in a war between werewolves and practitioners of dark magic.</li>
            <li>Creators: Dennis Heaton, Shelley Eriksen</li>
            <li>Stars: Jake Manley, Sarah Grey, Adam DiMarco</li>

        </ul>
    </div>

    <div class="col-md-9">
        <h1>Lock & Key</h1>
        <img src="~/images/Lock&Key.jpg" />
        <ul>
            <li>After their father is murdered under mysterious circumstances, the three Locke siblings and their mother move into their ancestral home, Keyhouse, which they discover is full of magical keys that may be connected to their father's death.</li>
            <li>Creators: Meredith Averill, Aron Eli Coleite, Carlton Cuse</li>
            <li>Stars: Darby Stanchfield, Connor Jessup, Emilia Jones</li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>You</h1>
        <img src="~/images/You.jpg" />
        <ul>
            <li>A dangerously charming, intensely obsessive young man goes to extreme measures to insert himself into the lives of those he is transfixed by.</li>
            <li>Creators: Sera Gamble, Greg Berlanti</li>
            <li>Stars: Penn Badgley, Victoria Pedretti, Ambyr Childers </li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>After Life</h1>
        <img src="~/images/AfterLife.jpg" />
        <ul>
            <li>After Tony's wife dies unexpectedly, his nice-guy persona is altered into an impulsive, devil-may-care attitude; taking his old world by storm.</li>
            <li>Creator: Ricky Gervais</li>
            <li>Stars: Ricky Gervais, Tom Basden, Tony Way </li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>Outer Banks</h1>
        <img src="~/images/OuterBanks.jpg" />
        <ul>
            <li>A group of teenagers from the wrong side of the tracks stumble upon a treasure map that unearths a long buried secret.</li>
            <li>Creators: Shannon Burke, Jonas Pate, Josh Pate</li>
            <li>Stars: Chase Stokes, Madelyn Cline, Madison Bailey</li>
        </ul>
    </div>

    <div class="col-md-9">
        <h1>The Boys</h1>
        <img src="~/images/TheBoys.jpg" />
        <ul>
            <li>A group of vigilantes set out to take down corrupt superheroes who abuse their superpowers.</li>
            <li>Creator: Eric Kripke</li>
            <li>Stars: Karl Urban, Jack Quaid, Antony Starr </li>
        </ul>
    </div>
 </div>   